<div class="page-wrapper default-theme">
  <div class="container">
    <mrx-button
      label="Click"
      size="lg"
      [outline]="false"
    ></mrx-button>

    <mrx-input
      placeholder="Введите текст"
      invalidMessage="Пожалуйста, введите валидное значение!"
      [minlength]="0"
      [maxlength]="50"
    ></mrx-input>

   <mrx-checkbox
     [boldLabel]="true"
     label="this label"
     placeholder="this placeholder"
   ></mrx-checkbox>

<!--    <mrx-datetime-input placeholder="Date Input"></mrx-datetime-input>-->

    <mrx-input-with-label
      placeholder="Input with label"
      label="This is label"
      [maxlength]="50"
    ></mrx-input-with-label>

    <mrx-select
      label="My label"
      [items]="people$"
      bindLabel="name"
      [multiple]="true"
      [searchable]="false"
      [(ngModel)]="selectedPeople"
      [closeOnSelect]="false"
    ></mrx-select>
  </div>
</div>

